miRNA Seed Region Feature Engineering

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('../data/mature_human_miRNAs_features.csv')
df.head()

,header,sequence,mature_name,accession,length,A,C,G,U,GC_content
0,>hsa-let-7a-5p MIMAT0000062 Homo sapiens let-7...,UGAGGUAGUAGGUUGUAUAGUU,hsa-let-7a-5p,MIMAT0000062,22,5,0,8,9,0.363636
1,>hsa-let-7a-3p MIMAT0004481 Homo sapiens let-7...,CUAUACAAUCUACUGUCUUUC,hsa-let-7a-3p,MIMAT0004481,21,5,6,1,9,0.333333
2,>hsa-let-7a-2-3p MIMAT0010195 Homo sapiens let...,CUGUACAGCCUCCUAGCUUUCC,hsa-let-7a-2-3p,MIMAT0010195,22,3,9,3,7,0.545455
3,>hsa-let-7b-5p MIMAT0000063 Homo sapiens let-7...,UGAGGUAGUAGGUUGUGUGGUU,hsa-let-7b-5p,MIMAT0000063,22,3,0,10,9,0.454545
4,>hsa-let-7b-3p MIMAT0004482 Homo sapiens let-7...,CUAUACAACCUACUGCCUUCCC,hsa-let-7b-3p,MIMAT0004482,22,5,10,1,6,0.500000

In [3]:
# Working with seed sequence, so let us define it 

df['seed'] = df['sequence'].str.slice(1,8)
df['seed'].head()

0    GAGGUAG
1    UAUACAA
2    UGUACAG
3    GAGGUAG
4    UAUACAA
Name: seed, dtype: object